<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="navtitle"><a href="/">Monstergram</a></li>
      <li class="navlink"><a href="/dragons">Meet the monsters</a></li>
      <li class="navlink"><a href="/dragons/new">Add new monster</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if(!locals.isAuthenticated) { %>
        <li class="navlink"><a href="/register">Register</a></li>
        <li class="navlink"><a href="/login">Login</a></li>
      <% } else { %>
        <li class="navlink"><a href="/profile">User: <%= user.username %></a></li>
        <li class="navlink"><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</div>
