<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="navtitle"><a href="/">Monstergram</a></li>
      <li class="navlink"><a href="/dragons">Meet the monsters</a></li>
      <li class="navlink"><a href="/dragons/new">Add new monster</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if(!locals.isAuthenticated) { %>
        <li class="navlink"><a href="/register">Register</a></li>
        <li class="navlink"><a href="/login">Login</a></li>
      <% } else { %>
        <li class="navlink"><a href="/profile">User: <%= user.username %></a></li>
        <li class="navlink"><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</div>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Monstergram</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dragons">Meet the monsters</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/dragons/new">Add new monster</a>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <% if(!locals.isAuthenticated) { %>
        <li class="navlink"><a href="/register">Register</a></li>
        <li class="navlink"><a href="/login">Login</a></li>
      <% } else { %>
        <li class="navlink"><a href="/profile">User: <%= user.username %></a></li>
        <li class="navlink"><a href="/logout">Logout</a></li>
      <% } %>
    </ul>
  </div>
</nav>
