<main class="container">
  <h2>Edit</h2>
  <form method="POST" action="/dragons/<%= dragon.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div class="row">
      <div class="col-md-6">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="<%= dragon.name %>">
      </div>
      <div class="col-md-6">
        <label for="image">Picture</label>
        <input type="text" name="image" id="image" value="<%= dragon.image %>">
      </div>
      <div class="col-md-12">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" value="<%= dragon.description %>">
        <button class="button">Save monster!</button>
      </div>
    </div>
  </form>
</main>
