<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <h1>New</h1>
<form method="POST" action="/dragons">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="colour">Colour</label>
    <input type="text" name="colour" id="colour">
  </div>
  <div>
    <label for="size">Size</label>
    <input type="text" name="size" id="size">
  </div>

  <div>
    <label for="comment">Comment</label>
    <textarea name="comment"></textarea>
  </div>

  <button>Create</button>
</form>
  </body>
</html>
