<h1>New</h1>
<form method="POST" action="/dragons">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>

  <div>
    <label for="colour">Colour</label>
    <input type="text" name="colour" id="colour">
  </div>

  <div>
    <label for="size">Size</label>
    <input type="size" name="size" id="size">
  </div>

  <button>Create</button>
</form>
