<main class="container">

<form method="POST" action="/register">
<div class="row">

  <div class="col-md-6">
    <label for="firstName">First name</label>
    <input type="text" name="firstName" id="firstName">
  </div>
  <div class="col-md-6">
    <label for="lastName">Surname</label>
    <input type="text" name="lastName" id="lastName">
  </div>
    <div class="col-md-6">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>
  <div class="col-md-6">
    <label for="username">Username</label>
    <input type="text" name="username" id="username">
  </div>
  <div class="col-md-6">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
  </div>
  <div class="col-md-6">
    <label for="passwordConfirmation">Password Confirmation</label>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation">
  </div>
</div>

  <button>Register</button>
</form>
</main>
