@import: 'show';
@import: 'nav';
@import: 'index';
$backgroundblue: rgba(227,242,253,0.5);

.title {
  font-family: 'Pacifico', cursive;
}

.picturesmall {
  height: 300px;
}

ul {
  list-style-type: none;
}

.home {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 100px;
  font-family: 'Pacifico', cursive;
}

h2 {
  font-size: 40px;
}

#sessionnew {
  margin-top: 10px;
  label {
    font-size: 20px
  }
}

.error {
  margin: 0 auto;
  width: 90%;
}
