
.picturesmall {
  height: 300px;
}

ul {
  list-style-type: none;
}

.title, .navtitle {
  font-family: 'Pacifico', cursive;
}

.home {
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%); 
  // margin: 150px auto;
  // text-align: center;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 40px;
}

.container, .navlink {
    font-family: 'Rajdhani', sans-serif;
  }

.navlink, .navtitle {
  font-size: 20px;
}

#indexcontainer {
  margin-top: 20px;
}

.indexdragon {
  border: 1px solid black;
  padding: 5%;
}

.indexname {
  margin-top: 10px;
}

.showdragon {
  width: 90%;
}

#showcontainer {
  margin-top: 20px;
  padding: 2%;
}

#showedit {
  float:left;
}

#showdelete {
  float:right;
}

#sessionnew {
  margin-top: 10px;
  label {
    font-size: 20px
  }
}
